.cardTypeOne{
    width: 15vh;
    height:25vh;
    margin: 1vh;
    -webkit-box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
    -moz-box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
    box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
}
.img {
    width: 15vh;
    height:15vh;
}
.positionCenter{
    align-items:center;
    display:flex;
    justify-content:center;
     ;
}
/*.modelAndPrise{
    display: flex;

}*/
.firstRow{
    display: flex;
    justify-content: center;
}
.secondRow{
    display: flex;
}
.flex1{
    flex:1;
    border: solid 1px;
}
.flex2{
    flex:2;
    border: solid 1px;
}
.flex3{
    flex:3;
    border: solid 1px;
}
.pointer{
    cursor: pointer;
}
