.cardTypeOne{
    width: 20vh;
    height:27vh;
    margin: 1vh;
    -webkit-box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
    -moz-box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
    box-shadow: -10px -2px 54px -6px rgba(34, 60, 80, 0.47) inset;
    border-radius: 20px;
}
.img {
    padding-top: 10px;
    width: 18vh;
    height:18vh;
}
.positionCenter{
    align-items:center;
    display:flex;
    justify-content:center;

}
.modelAndPrise{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    margin-bottom: -40px;
    margin-top: -5px;
    align-items: center;
    font-family: "Arial Narrow";
    font-size: 14px;
}
.firstRow{
    display: flex;
    justify-content: center;
}
.secondRow{
    display: flex;
}
.flex1{
    flex:1;
    border: solid 1px;
}
.flex2{
    flex:2;
    border: solid 1px;
}
.flex3{
    flex:3;
    border: solid 1px;
}
.pointer{
    cursor: pointer;
}
.rate{
    margin-bottom: 10px;
}
.button{
    margin: 0 auto;
    width: 70px;
    height: 22px;
    margin-left: 80px;
    padding: 0;
    border-radius: 7px;
    border-color: darkgrey;
}



